# Dependencies
node_modules/

# Git
.git/
.gitignore

# Logs
logs/
*.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads (use volume instead)
uploads/

# Documentation
*.md
/docs
test.js

#screenshots
/screenshots