<link rel="stylesheet" href="/css/idea-form.css">

<div class="home-wrapper">
  {{> sidebar}}
  {{> messages}}
  
  <!-- Main Content -->
  <div class="home-main">
    <!-- Header -->
    <div class="home-header">
      <div class="header-left">
        <a href="/ideas" class="back-link">
          <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="page-title">Create New Idea</h1>
      </div>
    </div>

    <!-- Create Form Content -->
    {{> idea-form}}
  </div>
</div>

<script src="/js/idea-form.js"></script>